div#mw-panel {
  position: fixed;
}

#toc, .toc {
  overflow-y: scroll;
  display: block;
  padding: 2px;
  position: fixed;
  z-index: 998;
  top: 140px;
  left: 5px;
  max-width: 180px;
  line-height: 1.3em;
  font-size: 75%;
  border: none;
}

.tochidden {
 width: 160px;
}


//.toclevel-1 {
//   overflow-y: scroll;
//    max-height: 400px;
//    overflow-x: hidden;
//}

.mw-content-ltr .toc ul ul, .mw-content-ltr #toc ul ul {
    margin: 0px 0px 0px 10px;
}

.mw-body-content {
  z-index: 900;
}

.mw-body {
  z-index: 800;
}


.mw-content-ltr h1 {
 font-family: sans;
 border-bottom: none;
 font-size: 1.3em;
 font-weight: bold;
 text-decoration: underline;
}

.mw-content-ltr h2 {
 font-family: sans;
 border-bottom: none;
 font-size: 1.2em;
 font-weight: bold;
}

.mw-content-ltr h3 {
 font-family: sans;
 border-bottom: none;
 font-size: 1.15em;
 font-weight: bold;
}

.mw-content-ltr h4 {
 font-family: sans;
 border-bottom: none;
 font-size: 1.1em;
 font-weight: bold;
}
