body {
	background-color: #fff7e6;
	color: #7b3b12;
	height:100%;
	font-family:sans;
	margin: 0;
}
h2 {
	color: #81502FCC;
	text-shadow: 1px 1px #ffb4a4;
	/*! text-align: center; */
	display: inline-block;
	font-size: 16px;
}
table {
	table-layout: fixed;
}
.slidesmall input[type=range] {
	background-color: salmon;
}
.grund td {
	width: 100px;
	text-align: center;
}
.grund th {
	border-bottom: 1px dashed #81502F;
	text-align: center;
	padding-bottom: 10px;
	color: #81502f;
}
.grund td:first-child {
	width: 100px;
	text-align: right;
	border-right: 1px dashed #81502F;
	padding-right: 5px;
}
.grund input {
	text-align: center;
	background-color: #CC822266;
	border: solid 1px #43666c;
	margin: 2px 2px;
	padding: 3px 3px;
	color: #000;
	inline-size: 55px;
	box-shadow: -2px 2px 1px -1px #81502F;
}
.grund input[readonly] {
	color: #000;
	background-color: #fff7e6;
	border-color: #81502F;
	box-shadow: none;
	font-weight: bold;
}
.grund input[type=button][disabled] {
	color: #543939;
	background-color: #3330;
	border-color: #81502F;
	box-shadow: none;
	/*! float:right; */
	display: block;
	width: 10em;
	margin: 3px 15px;
	/*! text-align: center; */
	box-shadow: -2px 2px #7d3b0a;
}
.grund input[type=button] {
	color: #01590b;
	background-color: #c4fa9d;
	border-color: #333;
	box-shadow: -2px 2px #0a7d40;
	/*! float:right; */
	display: block;
	width: 10em;
	margin: 3px 15px;
}
.grund input[type=checkbox] {
}
.zielfeld {
	border: 2px solid mediumpurple;
	padding: 7px;
}
.slidesmall {
	width: 40px;
	display: inline-block;
	margin: 0px 15px 0px 15px;
	vertical-align: middle;
}
.floater {
	display: inline-block;
	float:left;
	margin: 10px 5px;
	padding-left: 15px;
	width: 750px;
}
.schiebelabel {
	font-size: 10px;
	display: inline-block;
	height: 2.5em;
	font-family:sans;
	width: 30em;
	text-align: center;
}
.von {
	color: #00aa4a;
}
.nach {
	color: #d5ad00;
}
.pushbutton {
	color: #186d1c;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 0;
	background-color: #c3fa9c;
	border: solid 1px #186d1c;
	border-radius: 20px;
}
.pushbutton[disabled] {
	color: #e6ce9b;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 1px 2px 3px 2px;
	background-color: #fff7e6;
	border: solid 1px #e6ce9b;
	border-radius: 20px;
}
.pushbutton:hover:disabled {
	color: #2a00001a;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 1px 2px 3px 2px;
	background-color: #fe000000;
	border: solid 1px #9900004d;
	border-radius: 20px;
	box-shadow: 1px 1px 1px -1px #ff000080;
}

.pushbutton:hover:enabled {
	color: #177501;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 1px 2px 3px 2px;
	background-color: #baff70;
	border: solid 1px #2eff00;
	border-radius: 20px;
	box-shadow: -1px 1px 22px 3px #20c200;
}
.hiliterow {
	box-shadow: 0px 0px 30px 1px #48412e;
}
input.ausgangswert, input[readonly].ausgangswert {
	border-color: #00e363;
	box-shadow: 1px 1px 20px -5px #00e363;
}
input.zielwert, input[readonly].zielwert {
	border-color: #d5ad00;
	box-shadow: 1px 1px 20px -5px #d5ad00;
}
.borderlein {
	box-shadow: -3px -3px 5px -1px #cc32114d;
	border: solid 1px #cb9d00;
}
#links {
	display: block;
	width: 160px;
	float: left;
	height: 100%;
	position: fixed;
	/*! border-right: solid 1px #3eb4ff; */
	margin: 0;
}
#rechts {
	margin-left: 160px;
}
/* ###################################################################################### */

input.cbinput {
	width: 25px;
	vertical-align: middle;
}
.aromaname input{
	inline-size: 10em
}

.vline {
	width: 2px;
	display: block;
	color: #006790;
	border-left: 1px solid #004196;
	box-shadow: 1px 2px 30px 1px #03c1ff9;
	margin-top: 0px;
	margin-left: 130px;
}

.footer {
	display: block;
	background-image: linear-gradient(#fff7e6,#ffedc6,#faffc6);
	height: 200px;
	margin-top: 150px;
}
.header {
	display: block;
	height: 120px;
	width: 100%;
	background-image: linear-gradient(#fffbd4, #fff7e6);
}
h1 {
	line-height: 120px;
	vertical-align: middle;
	text-align:center;
	font-style:italic;
	text-shadow: 2px 3px #ded2bd;
	padding-left: 420px;
	color: #ffe1b4;
	display: inline;
}
.klein input {
	inline-size: 20px;
}
#einleitung {
	font-size: 0.75em;
	color: #81502F;
}
#erklaerbaer {
	display: none;
	padding: 5px 15px;
}
a#klapper:hover {
	color:#FC0000;
}
.clear {
	clear:both;
}
input.okfeld {
	background-color: #8afe5780;
}
input.failfeld {
	background-color: #ff000080;
}
