body {
	background-color: #272f33;
	color: #72a5bf;
	height:100%;
	font-family:sans;
	margin: 0;
}
h2 {
	color: #828789;
	text-shadow: 1px 1px #000;
	/*! text-align: center; */
	display: inline-block;
	font-size: 16px;
}
table {
	table-layout: fixed;
	border-collapse: collapse;
}
.slidesmall input[type=range] {
	background-color: salmon;
}
.grund {
	width: 100%;
}
.grund tr:first-child {
	border-top: 1px dashed #00397b;
}
.grund th {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
	color: #20b1f9;
}
.grund td {
	width: 100px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.grund td:first-child {
	width: 90px;
	background-color: #30393e;
	color: #828789;
}
.grund input {
	text-align: center;
	background-color: #72a5bf;
	border: solid 1px #20b1f9;
	margin: 2px 2px;
	padding: 3px 3px;
	color: #000;
	inline-size: 55px;
	box-shadow: -2px -2px 0px 0px #004698;
}
.grund input[readonly] {
	color: #000;
	background-color: #828789;
	border-color: #595959;
	box-shadow: none;
	font-weight: bold;
}
.grund input[type=button] {
	background-color: #272f33;
	border-color: #20b1f9;
	box-shadow: -1px -1px #0a7d40;
	width: 10em;
	margin: 3px 15px;
	color: #20b1f9;
	font-weight: bold;
}
.grund input[type=button][disabled] {
	color: #828789;
	background-color: #272f33;
	border-color: #828789;
	box-shadow: none;
	/*! float:right; */
	/*! display: block; */
	width: 10em;
	margin: 3px 15px;
	/*! text-align: center; */
	box-shadow: -1px -1px #00078f;
}
.grund select {
	text-align: center;
	background-color: #72A5BF;
	border: solid 1px #20b1f9;
	margin: 2px 2px;
	padding: 3px 3px;
	color: #000;
	inline-size: 115px;
	box-shadow: -2px -2px 0px 0px #272f33;
}
.kopf {
	color: darkslateblue;
}
.zielfeld {
	border: 2px solid mediumpurple;
	padding: 7px;
}
.slidesmall {
	width: 40px;
	display: inline-block;
	margin: 0px 15px 0px 15px;
	vertical-align: middle;
}
.floater {
	display: block;
	clear: both;
	/*! float:left; */
	margin: 10px auto;
	padding: 5px 15px;
	width: 90%;
}
.schiebelabel {
	font-size: 12px;
	display: inline-block;
	/*! height: 2.5em; */
	font-family:sans;
	width: 5em;
	text-align: center;
	/*! border: 1px solid #ebc997; */
	vertical-align: middle;
	/*! margin: 3px 20px 3px 5px; */
	/*! padding: 4px; */
	line-height: 1.5em;
	/*! border-radius: 10px; */
	/*! box-shadow: -1px -1px 0px 0px #9c6649; */
	/*! background-color: #f8ecd4; */
}
.von {
	color: #00aa4a;
	font-weight: bold;
	font-size: 50px;
	text-shadow: 1px 1px #9fff59;
}
.nach {
	color: #d5ad00;
	font-weight: bold;
	font-size: 50px;
	text-shadow: 1px 1px #ffe161;
}
.pushbutton {
	color: #20b1f9;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 0;
	background-color: #272f33;
	border: solid 1px #20b1f9;
	border-radius: 20px;
	font-weight: bold;
}
.pushbutton[disabled] {
	color: #72a5bf;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 1px 2px 3px 2px;
	background-color: #272f33;
	border: solid 1px #72a5bf;
	border-radius: 20px;
}
.pushbutton:hover:disabled {
	color: #20b1f9;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 1px 2px 3px 2px;
	background-color: #272f33;
	border: solid 1px #20b1f9;
	border-radius: 20px;
	box-shadow: -1px -1px 0px 0px #00000080;
}

.pushbutton:hover:enabled {
	color: #00aa4a;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 1px 2px 3px 2px;
	/*! background-color: #459153; */
	border: solid 1px #20b1f9;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 2px #20c200;
}
.pushbuttonr {
	color: #72a5bf;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 0;
	background-color: #272f33;
	border: solid 1px #72a5bf;
	border-radius: 20px;
}
.pushbuttonr:hover {
	color: #20adf3;
	width: 90px;
	text-align: center;
	font-size: 10px;
	background-color: #272f33;
	border: solid 1px #20adf3;
	border-radius: 20px;
}
.hiliterow {
	border: dashed 2px #00346f;
	border-collapse: collapse;
	background-color: #002b5d;
	font-weight: bold;
	border-radius: 50px;
	/*! border-color: blue; */
	/*! display: table-row; */
	/*! text-align: center; */
}
input.ausgangswert, input[readonly].ausgangswert {
	border-color: #00e363;
	box-shadow: -1px -1px 20px -5px #00e363;
}
input.zielwert, input[readonly].zielwert {
	border-color: #d5ad00;
	box-shadow: -1px -1px 20px -5px #d5ad00;
}
.borderlein {
	box-shadow: -3px -3px 5px -1px #72a5bf;
	border: solid 1px #b6cdd8;
	border-radius: 10px;
}
.main_column {
	display: block;
	width: 800px;
	margin: 0 auto;
}
/* ###################################################################################### */

input.cbinput {
	width: 25px;
	vertical-align: middle;
}
.aromaname input{
	inline-size: 10em
}
.footer {
	clear: both;
	display: block;
	background-image: linear-gradient(#272f33,#052a39);
	height: 120px;
}
.header {
	display: block;
	height: 120px;
	width: 100%;
	background-image: linear-gradient(#04384d, #272f33);
	margin: 0 auto;
	/*! background-color: black; */
}
h1 {
	line-height: 120px;
	vertical-align: middle;
	text-align:center;
	text-shadow: -2px -2px #000;
	color: #72a5bf;
	display: block;
	margin: 0 auto;
	font-stretch: ultra-condensed;
	font-size: 3em;
	/*! text-decoration-style: solid; */
	/*! text-decoration-color: #ecf6ff; */
	/*! text-decoration-line: black; */
}
.klein input {
	inline-size: 20px;
}
#einleitung {
	font-size: 0.75em;
	color: #b6cdd8;
}
#erklaerbaer {
	display: none;
	padding: 5px 15px;
}
a#klapper:hover {
	color:#FC0000;
}
.clear {
	clear:both;
}
input.okfeld {
	background-color: #99da89;
	box-shadow: -2px -2px 0 0 #667495;
}
input.failfeld {
	background-color: #e6a9a9;
}
.labeltable {
	color: black;
	margin-bottom: 5px;
	margin-top: 5px;
	border: solid black 1px;
	background-color: #828789;
}
.labeltable td {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
}
.trenner, .trenner2 {
	width: 5px;
	border-left: 1px solid #72a5bf;
	border-right: 1px solid #72a5bf;
}
.etiketten_input {
	border: none;
	background-color:#828789;
}
#liqname {
	border: none;
	background-color: #828789;
}
#liqname::placeholder {
	color: #5a5b9b;
	opacity: 1;
}
.errorlog {
	height: 60px;
	background-color:#272f33;
	color: #a6beda;
}
.db_link {
	color: olive;
	position: fixed;
	right: 40px;
	top: 50px;
}
.freehand_input input {
	inline-size: 130px;
}
.dbmessage {
	font-size: 10px;
	color: lightblue;
	position: fixed;
	right: 40px;
	top: 20px;
}
