body {
	background-color: #666;
	color: #3eb4ff;
	height:100%;
	font-family:sans;
}
h2 {
	color: #c9a97f;
	text-shadow: 1px 2px #215886;
	/*! text-align: center; */
	display: inline-block;
	font-size: 16px;
}
table {
	table-layout: fixed;
}
.slidesmall input[type=range] {
	background-color: salmon;
}
.grund td {
	width: 100px;
	text-align: center;
}
.grund th {
	border-bottom: 1px dashed #0095f3;
	text-align: center;
	padding-bottom: 10px;
	color: #b4cfff;
}
.grund td:first-child {
	width: 100px;
	text-align: right;
	border-right: 1px dashed #0095f3;
	padding-right: 5px;
}
.grund input {
	text-align: center;
	background-color: #598aaa;
	border: solid 1px #43666c;
	margin: 2px 2px;
	padding: 3px 3px;
	color: #6ceaff;
	inline-size: 55px;
	box-shadow: -2px 2px 1px -1px #445462;
}
.grund input[readonly] {
	color: #000;
	background-color: #666;
	border-color: #252e38;
	box-shadow: none;
	font-weight: bold;
}
.grund input[type=button][disabled] {
	color: #543939;
	background-color: #333;
	border-color: #333;
	box-shadow: none;
	/*! float:right; */
	display: block;
	width: 10em;
	margin: 3px 15px;
	/*! text-align: center; */
	box-shadow: -2px 2px #7d3b0a;
}
.grund input[type=button] {
	color: green;
	background-color: #333;
	border-color: #333;
	box-shadow: -2px 2px #0a7d40;
	/*! float:right; */
	display: block;
	width: 10em;
	margin: 3px 15px;
}
.grund input[type=checkbox] {
}
.zielfeld {
	border: 2px solid mediumpurple;
	padding: 7px;
}
.slidesmall {
	width: 40px;
	display: inline-block;
	margin: 0px 15px 0px 15px;
	vertical-align: middle;
}
.floater {
	display: inline-block;
	float:left;
	margin: 10px 5px;
	padding-left: 15px;
	width: 750px;
}
.schiebelabel {
	font-size: 10px;
	display: inline-block;
	height: 2.5em;
	font-family:sans;
	width: 30em;
	text-align: center;
}
.von {
	color: #00aa4a;
}
.nach {
	color: #d5ad00;
}
.pushbutton {
	color: #5fd842;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 0;
	background-color: #333;
	border: solid 1px #448c33;
	border-radius: 20px;
}
.pushbutton[disabled] {
	color: #484848;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 1px 2px 3px 2px;
	background-color: #333;
	border: solid 1px #27531d;
	border-radius: 20px;
}
.pushbutton:hover:disabled {
	color: #484848;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 1px 2px 3px 2px;
	background-color: #333;
	border: solid 1px #356c29;
	border-radius: 20px;
}

.pushbutton:hover:enabled {
	color: #5fd842;
	width: 90px;
	text-align: center;
	font-size: 10px;
	padding: 1px 2px 3px 2px;
	background-color: #333;
	border: solid 1px #356c29;
	border-radius: 20px;
	box-shadow: -1px 1px 22px -5px #0098f9;
}
.hiliterow {
	box-shadow: 0px 0px 30px 1px #48412e;
}
input.ausgangswert, input[readonly].ausgangswert {
	border-color: #00e363;
	box-shadow: 1px 1px 20px -5px #00e363;
}
input.zielwert, input[readonly].zielwert {
	border-color: #d5ad00;
	box-shadow: 1px 1px 20px -5px #d5ad00;
}
.borderlein {
	box-shadow: 5px -1px 15px -2px #334e57;
}
#links {
	display: block;
	width: 160px;
	float: left;
	height: 100%;
	position: fixed;
	/*! border-right: solid 1px #3eb4ff; */
	margin: 0;
}
#rechts {
	margin-left: 160px;
}
/* ###################################################################################### */

input.cbinput {
	width: 25px;
	/*! height: 13px; */
	/*! padding: 0; */
	/*! margin:0; */
	vertical-align: middle;
	/*! position: relative; */
	/*! top: -1px; */
			 *overflow: hidden;
		 }
.aromaname input{
	inline-size: 10em
}

.vline {
	width: 2px;
	/*! height: 70%; */
	display: block;
	color: #006790;
	border-left: 1px solid #004196;
	box-shadow: 1px 2px 30px 1px #03c1ff99;
	margin-top: 0px;
	margin-left: 130px;
}

.footer {
	display: block;
	/*! margin-top: 150px; */
	background-image: linear-gradient(#666,#33414a,black);
	height: 200px;
	margin-top: 150px;
}
.header {
	display: block;
	height: 120px;
	width: 950px;
}
h1 {
	line-height: 120px;
	vertical-align: middle;
	text-align:center;
	font-style:italic;
	text-shadow: 2px 3px violet;
	padding-left: 100px;
}
